.container{
    max-width: 800px;
    background: #fff;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .container .title{
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #000, #888, #777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form{
    padding: 30px 0 0 0;
  }
  .container form .form_row{
    display: flex;
    margin: 32px 0;
  }
  form .form_row .input{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form_row .textarea{
    height: 70px;
  }
  .input input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input input:focus ~ label, .textarea textarea:focus ~ label,
  .input input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #000;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #000;
  }
  .input .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input input:focus ~ .underline:before,
  .input input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }


.select{
    padding-right: 1rem ;
}

  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form_row{
      display: block;
    }
    form .form_row .input{
      margin: 35px 0!important;
    }
    .submit-btn .input{
      width: 40%!important;
    }
  }