
.title{
  text-align: center;
  color: #019272;
  font-size: 2.4rem;
}

.chartContainer{
  display: flex;
  height: 400px;
}

@media (max-width: 850px) {
  .chartContainer{
    overflow-y: scroll;
    flex-direction: column;
  }
}
