.sidenav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* height: auto; */
}

.button {
    border: 1px solid #ddd;
    margin: 13px 5px 7px 5px;
    box-shadow: 2px 5px 5px 2px #4682B4;
    background-color: #fff;
}

.secao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
}

.statistical {
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
    text-align: start;
    border: 1px solid #ddd;
    box-shadow: 2px 5px 5px 2px #4682B4;
    margin: 5px 5px 8px 5px;
    height: 290px;
    width: 850px;
    background-color: #fff;
}