
section.SearchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 1350px;
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 15px 30px;
}

section.SearchInputContainer input{
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 1.4rem;
  color: #000000;
}
