.container {
  background-color: #009373;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  height: 100px;
  max-width: 1350px;
  
  margin: auto;
}

.buttonContainer{
  display: flex;
  gap: 15px;
}

.headerButton{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 1s;
}
.headerButton:hover{
  transform: scale(1.1, 1.2);
  font-weight: bold;
}

.logo{
  height: 100%;
}

