h1 {
  background-color: DarkBlue;
  color: white;
  margin: 0;
  padding: 10px;
}

.table {
  width: 100%;
  border: 3px solid #aabfbf;
  height: auto;
}

.td {
  border: 1px solid #aabfbf;
  background-color: black;
  text-align: center;
  color: white;
  height: 107px;
}

.th {
  border: #aabfbf 1px solid;
  height: 30px;
  background-color: CornflowerBlue;
  color: white;
}

.tableContainer {
  max-height: 250px;
  overflow: auto;
}

.icon {
  background-color: black;
  color: white;
}

button {
  background-color: black;
  border: none;
}