.search {
    display: flex;
    flex-direction: row;
    text-align: start;
    border: 1px solid #ddd;
    box-shadow: 2px 5px 5px 2px #4682B4;
    margin: 5px 5px 8px 5px;
    background-color: #fff;
    height: 210px;
}

.term {
    display: flex;
    flex-direction: column;
    margin: 30px;
}
