
.title{
  text-align: center;
  font-size: 2.4rem;
  color: #019272;
}

.informationsContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.informationsContainer img{
  width: 150px;
  margin: auto;
  border-radius: 9999px;
}

.informationsContainer h3{
  text-align: center;
}

.userInformations{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 30px;
}

.userInformations p{
  display: flex;
  gap: 10px;
  align-items: center;
}


