
.funcionalitisContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  margin: 15px auto;
}

.buttonGroup{
  display: flex;
  align-items: center;
  gap: 15px;
}
