.modal-style{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#EBF7F5;
  color: #0B8B6A;
  padding: 20px;
  z-index: 5;
  border-radius: 5px;
  width: 350px;
}

.modal-style h1{
  color: #0B8B6A;
}

.modal-style h4{
  margin-bottom: 10px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-btn{
  padding: 5px;
  align-self: flex-end;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 20px;
}

@media(max-width:826px){
  .modal-style{
    width: 270px;
  }
} 