@import "styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root  {
  height: 100%;
}

html, body {
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}